@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <head>
        <title>Jobstart</title>
        <link rel="stylesheet" href="http://localhost:52791/fonts/icomoon/style.css">
        <link rel="stylesheet" href="http://localhost:52791/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost:52791/css/magnific-popup.css">
        <link rel="stylesheet" href="http://localhost:52791/css/jquery-ui.css">
        <link rel="stylesheet" href="http://localhost:52791/css/owl.carousel.min.css">
        <link rel="stylesheet" href="http://localhost:52791/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="http://localhost:52791/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="http://localhost:52791/css/animate.css">
        <link rel="stylesheet" href="http://localhost:52791/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="http://localhost:52791/css/fl-bigmug-line.css">
        <link rel="stylesheet" href="http://localhost:52791/css/aos.css">
        <link rel="stylesheet" href="http://localhost:52791/css/style.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="http://localhost:52791/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"  href="http://localhost:52791/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/css/util.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:52791/css/main.css">
    </head>